@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global Styles */
body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Dark Mode */
  body.dark {
    background-color: #1a202c; /* Dark gray */
    color: white;
  }
  